/* ------- imports ------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* ------- text styles ------- */
main 
{
    font-family: "Roboto", sans-serif;
    color: white;
}

header, footer
{
    font-family: monospace;
}

ul, li {
    list-style-type: none;
}



/* ------- header text styles ------- */
header
{
    color: var(--main-text-color);
}
/* navbar */
.navbar a
{
    color: var(--main-text-color);
    font-weight: bold;
}

.navbar .navlinks
{
    font-size: 1.6em;
}

.navbar .logo
{
    font-size: 1.8em;
}



/* ------- postboxes ------ */

/* postbox-border */

/* link */
.postbox-link {
    display: flex; /* Ensures the <a> tag behaves like a flex container */
    flex-direction: column; /* Adjusts the layout inside the box if needed */
    text-decoration: none; /* Removes the underline for links */
    color: inherit; /* Ensures the text inside the link inherits the parent color */}
.postbox-border
{
    font-size: 1.3em;
    text-align: left;
}

.postbox-noborder
{
    font-size: 1.3em;
    text-align: center;
    white-space: normal; /* Allows text to wrap naturally */
    overflow-wrap: anywhere; /* Breaks words only when necessary */
    word-break: normal; /* Prevents breaking words letter by letter */
    text-overflow: ellipsis; /* Adds "..." if the text overflows */
    overflow: hidden; /* Prevents content from overflowing */
}

.postbox-noborder h5 {
    text-align: left;
}

.postbox-border h4, h5 {
    color: var(--postbox-border-color);
    font-weight: 300;
}

.postbox-border h1, h2, h3
{
    font-weight: 600;
}

/* ------- footer text styles ------- */
footer
{
    text-align: center;
    color: var(--main-text-color);
}
footer a
{
    color: var(--main-text-color);
    font-style: italic;
}

/* ------- media screen ------- */
@media screen and (max-width: 668px)
{
    .navbar
    {
        margin: 0;
        padding: 0;
        font-size: 0.92em;
        width: 10%;
    }
    .navlinks a
    {

        font-size: 0.7em;
    }
}