


/* ------- navbar ------- */
.navbar
{
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: clamp(10%, 100%, 900px);
}



.logo, .navlinks 
{
    display: flex;
    gap: 1em;
    transition: ease-in-out 0.2s;
}

@media screen and (max-width: 668px)
{
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1em; /* Add spacing between .logo and .navlinks */
    }

    .logo {
        width: 100%; /* Ensure the logo spans the full width */
    }

    .navlinks {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}